<html>
    <head>
      <link rel="icon" href="https://egitimgrafik.com/wp-content/uploads/2019/03/saat.png">
        <title>CANLI SAYAÇ</title>
      <h1><%= client.guilds.cache.size %> server</h1>
      <h1><%= client.ws.ping %> ms</h1>
      <h1> </h1>
        <meta charset="utf-8">
    </head>
    <body>
      <meta http-equiv="refresh" content="2;">
    </body>
</html>